@using Tranning.DataDBContext
@model Trainee_course
@{
    ViewData["Title"] = "CreateOrEdit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var lstCourse = (List<Course>)ViewBag.Course;
    var lstTrainee = (List<Users>)ViewBag.Trainee;
    string titleH = string.Empty;
    if(Model.trainee_id > 0)
    {
        titleH = "Update Trainee Course";
    }
    else
    {
        titleH = "Add New Trainee Course";
    }
}
<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>@titleH</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-controller="TraineeCourse" asp-action="CreateOrEdit" method="post" asp-validation-summary="All">
                    <input type="hidden" asp-for="trainee_id" />
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @if (ViewBag.Error != null)
                                {
                                    <span class="text-danger">@ViewBag.Error</span>
                                }
                            </div>
                            <div class="form-group">
                                <label asp-for="course_id">Course</label>
                                <select asp-for="course_id" class="form-control">
                                    @if (lstCourse != null && lstCourse.Count > 0)
                                    {
                                        foreach (var item in lstCourse)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="course_id"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="userid">Trainee</label>
                                <select asp-for="userid" class="form-control">
                                    @if (lstTrainee != null && lstTrainee.Count > 0)
                                    {
                                        foreach (var item in lstTrainee)
                                        {
                                            <option value="@item.id">@item.full_name</option>
                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="userid"></span>
                            </div>

                        </div>
                        <div class="sm-12 col-md-12">
                            <button class="btn btn-primary my-3" type="submit">Save</button>
                            <a class="btn btn-info ms-3 mb-0" href="@Url.Action("Index","TraineeCourse")">Back to lists</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

