@using Tranning.DataDBContext
@using Tranning.Models
@model CourseDetail
@{
    ViewData["Title"] = "Update Course";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var lstCate = (List<Category>)ViewBag.Category;

}
<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Update Course</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-action="Update" method="post" asp-validation-summary="All">
                    <input type="hidden" asp-for="id" />
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="name">Name</label>
                                <input asp-for="name" class="form-control" />
                                <span class="text-danger" asp-validation-for="name"></span>
                                @if (ViewBag.Error != null)
                                {
                                    <span class="text-danger">@ViewBag.Error</span>
                                }
                            </div>
                            <div class="form-group">
                                <label asp-for="category_id">Category</label>
                                <select asp-for="category_id" class="form-control">
                                    @if (lstCate != null && lstCate.Count > 0)
                                    {
                                        foreach(var item in lstCate)
                                        {
                                            <option value="@item.id">@item.name</option>
                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="category_id"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="description">Description</label>
                                <textarea asp-for="description" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="start_date">Start date</label>
                                <input type="date" asp-for="start_date" class="form-control" value="@(Model != null ? Model.start_date.ToString("yyyy-MM-dd") : null)" />
                                <span class="text-danger" asp-validation-for="start_date"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="end_date">End date</label>
                                <input type="date" asp-for="end_date" class="form-control" value="@(Model != null && Model.end_date != null ? Model.end_date.Value.ToString("yyyy-MM-dd") : null)" />
                            </div>
                            <div class="form-group">
                                <label asp-for="status" class="control-label"></label>
                                <select class="form-control" asp-for="status">
                                    <option value="Active">Active</option>
                                    <option value="Deactive">Deactive</option>
                                </select>
                                <span asp-validation-for="status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo" class="control-label"></label>
                                <input type="file" class="form-control" asp-for="Photo" />
                                <span class="text-danger" asp-validation-for="Photo"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <button class="btn btn-primary my-3" type="submit">Update</button>
                            <a class="btn btn-info ms-3 mb-0" href="@Url.Action("Index", "Course")">Back to Lists</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

